@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.NewsMain>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "MasterAlternateNavbar.cshtml";
}

<!-- Main -->
<section id="main" class="wrapper">
    <div class="container">

        <header class="major special">
			<h2>@Model.Value("newsTitle")</h2>
		    <p>@Model.Value("newsBodyText")</p>
        </header>

        @{
        	var selection = Umbraco.Content(Guid.Parse("e6055dfe-b0fa-4719-a9c3-0875615bc557"))
            .ChildrenOfType("newsItem")
            .Where(x => x.IsVisible())
            .OrderByDescending(x => x.CreateDate);
        }
        <ul>
        	@foreach (var item in selection)
        	{
                <article class="special">
                        <div class="newstitle"><a href="@item.Url">@item.Name</a></div>
                        <div class="newspreview">@Html.Truncate(item.Value("newsItemContent").ToString(), 20, true)<a href="@item.Url">Read More..</a></div>
                    </article>
                <hr/>
        	}
        </ul>
        
    </div>
</section>